<template>
  <div class="w-11/12 mx-auto flex items-start justify-between gap-x-6 bg-sky-100 p-2 rounded-lg">
    <div class="w-9/12 flex items-start justify-start gap-x-6 text-sm">
      <div class="rounded-full h-10 w-10 border border-sky-200 bg-sky-100 text-sky-300 flex items-center justify-center text-xl">{{ getFirstLetter(comment.username) }}</div>
      <div class="w-10/12">
        <p class="font-semibold mb-1">{{ comment.username }}</p>
        <p v-if="!isEditCommentOn">{{ comment.comment }}</p>
        <textarea
          v-if="isEditCommentOn"
          class="w-11/12 h-16 outline-none rounded bg-sky-100"
          autofocus
          v-model="editedComment"
        />
      </div>
    </div>
    <div class="text-right space-y-1">
      <p class="text-xs text-gray-400">{{ comment.date | moment("DD.MM.YYYY, hh:mm") }}</p>
      <div v-if="!isEditCommentOn" class="space-y-1">
        <div v-if="canEdit">
          <custom-button
            textSize="extra-small"
            size="extra-small"
            color="light-blue"
            class="w-20"
            text="Edit"
            @click="toggleEditComment(!isEditCommentOn, comment.comment)"
          />
        </div>
        <div v-if="canDelete">
          <custom-button
            textSize="extra-small"
            size="extra-small"
            color="red"
            text="Delete"
            class="w-20"
            @click="deleteCommentHandler(comment.id)"
          />
        </div>
      </div>
      <div v-if="isEditCommentOn && canEdit" class="space-y-1">
        <div>
          <custom-button
            textSize="extra-small"
            size="extra-small"
            color="light-blue"
            class="w-20"
            text="Cancel"
            @click="toggleEditComment(!isEditCommentOn, comment.comment)"
          />
        </div>
        <div>
          <custom-button
            textSize="extra-small"
            size="extra-small"
            color="green"
            text="Save"
            class="w-20"
            @click="editCommentHandler(comment)"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex';
import {generateFakeId} from "@/utility/helpers";

export default {
  name: "CommentComponent",
  data() {
    return {
      newComment: '',
      editedComment: '',
      isEditCommentOn: false,
    }
  },
  props: ['comment', 'post'],
  computed: {
    ...mapGetters('auth', {
      user: 'getUser'
    }),
    canDelete() {
      return this.comment.userId === this.user?.id || this.post.userId === this.user?.id;
    },
    canEdit() {
      return this.comment.userId === this.user?.id;
    }
  },
  methods: {
    ...mapActions('feed', {
      commentPost: 'commentPost',
      deleteComment: 'deleteComment',
      editComment: 'editComment',
    }),
    makeComment() {
      const payload = {
        postId: this.post.id,
        id: generateFakeId(),
        userId: this.user.id,
        username: this.user.username,
        comment: this.newComment,
        date: new Date()
      }
      this.commentPost(payload);
      this.newComment = '';
    },
    deleteCommentHandler(id) {
      this.deleteComment(id);
    },
    toggleEditComment(editOn, comment = null) {
      this.isEditCommentOn = editOn;
      if (editOn) this.editedComment = comment;
      else this.editedComment = '';
    },
    editCommentHandler(comment) {
      const payload = {
        ...comment,
        comment: this.editedComment
      };
      this.editComment(payload);
      this.toggleEditComment(false);
    },
    getFirstLetter(word) {
      return word.substr(0, 1).toUpperCase();
    }
  }
}
</script>

<style scoped>
textarea {
  resize: none;
}
</style>