<template>
  <section class="w-11/12 mx-auto flex items-center gap-x-6 mt-8 p-2">
    <div class="w-10/12 flex items-center justify-center gap-x-6">
      <div class="rounded-full h-10 w-10 border border-sky-200 bg-sky-100 text-sky-300 flex items-center justify-center text-xl">{{ getFirstLetter(user.username) }}</div>
      <input class="w-11/12 border rounded p-1 bg-sky-100 text-sm" type="text" v-model="comment" placeholder="Write a comment...">
    </div>
    <div class="w-2/12">
      <custom-button text="Comment" @click="commentPostHandler" />
    </div>
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import { generateFakeId } from '@/utility/helpers';

export default {
  name: "CreateComment",
  data() {
    return {
      comment: '',
    }
  },
  props: ['postId'],
  computed: {
    ...mapGetters('auth', {
      user: 'getUser'
    }),
  },
  methods: {
    ...mapActions('feed', {
      commentPost: 'commentPost',
    }),
    commentPostHandler() {
      const payload = {
        postId: this.postId,
        id: generateFakeId(),
        userId: this.user.id,
        username: this.user.username,
        comment: this.comment,
        date: new Date()
      }
      this.commentPost(payload);
      this.comment = '';
    },
    getFirstLetter(word) {
      return word.substr(0, 1).toUpperCase();
    }
  }
}
</script>

<style scoped>

</style>