<template>
  <div>
    <section class="font-semibold py-1 text-xl">Create new post</section>
    <section class="flex items-center gap-x-10">
      <div class="w-9/12">
        <textarea class="w-full h-20 py-2 px-4 border border-sky-200 border-2 rounded" v-model="text"></textarea>
      </div>
      <div class="w-3/12">
        <custom-button text="Post" @click="create" />
      </div>
    </section>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { generateFakeId } from "@/utility/helpers";

export default {
  name: "CreatePost",
  data() {
    return {
      text: ''
    }
  },
  computed: {
    ...mapGetters('auth', {
      user: 'getUser'
    })
  },
  methods: {
    ...mapActions('feed', {
      createPost: 'createPost'
    }),
    create() {
      const payload = {
        id: generateFakeId(),
        userId: this.user.id,
        username: this.user.username,
        text: this.text,
        date: new Date(),
      }
      this.createPost(payload);
      this.text = '';
    }
  }
}
</script>

<style scoped>
textarea {
  resize: none;
}
</style>