`<template>
  <div class="border-double border-b-4 border-sky-500 pb-6  overflow-hidden">
    <section class="flex items-start">
      <div class="w-1/6 flex items-start justify-center">
        <div class="rounded-full h-24 w-24 border border-sky-200 bg-sky-100 text-sky-300 flex items-center justify-center text-4xl">{{ getFirstLetter(post.username) }}</div>
      </div>
      <div class="w-4/6">
        <div class="flex justify-between items-start my-1">
          <h4 @click="$router.push(`/profile/${post.userId}`)" class="font-semibold text-lg cursor-pointer hover:text-sky-500">{{ post.username }}</h4>
        </div>
        <div v-if="!isEditPostOn">{{ post.text }}</div>
        <textarea
          v-if="isEditPostOn"
          class="w-full h-20 outline-none rounded"
          autofocus
          v-model="editedPostText"
        />
      </div>
      <div class="w-1/6 space-y-2 text-right">
        <div>
          <p class="text-xs text-gray-400">{{ post.date | moment("DD.MM.YYYY, HH:mm") }}</p>
        </div>
        <div v-if="!isEditPostOn && canEdit && user" class="space-y-2">
          <div>
            <custom-button
              textSize="small"
              size="extra-small"
              color="light-blue"
              class="w-20"
              text="Edit"
              @click="toggleEditPost(!isEditPostOn)"
            />
          </div>
          <div>
            <custom-button
              textSize="small"
              size="extra-small"
              color="red"
              text="Delete"
              class="w-20"
              @click="deletePostHandler"
            />
          </div>
        </div>
        <div v-if="isEditPostOn && canEdit && user" class="space-y-2">
          <div>
            <custom-button
              textSize="small"
              size="extra-small"
              color="light-blue"
              class="w-20"
              text="Cancel"
              @click="toggleEditPost(false)"
            />
          </div>
          <div>
            <custom-button
              textSize="small"
              size="extra-small"
              color="green"
              text="Save"
              class="w-20"
              @click="editPostHandler"
            />
          </div>
        </div>
      </div>
    </section>
    <section v-if="filteredComments.length > 0" class="space-y-4 mt-6">
      <p class="w-11/12 mx-auto">Comments</p>
      <Comment
        v-for="comment in filteredComments"
        :key="comment.id"
        :post="post"
        :comment="comment"
      />
    </section>
    <CreateComment v-if="user" :post-id="post.id" />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import Comment from '@/components/Feed/Comment';
import CreateComment from '@/components/Feed/CreateComment';

export default {
  name: "PostComponent",
  data() {
    return {
      comment: '',
      editedPostText: '',
      isEditPostOn: false,
    }
  },
  props: ['post'],
  components: { Comment, CreateComment },
  computed: {
    ...mapGetters('auth', {
      user: 'getUser'
    }),
    ...mapGetters('feed', {
      comments: 'getComments'
    }),
    filteredComments() {
      return this.comments.filter((comment) => comment.postId === this.post.id);
    },
    canEdit() {
      // TODO: owner of post can delete others comments, but not edit.
      return this.post.userId === this.user?.id;
    }
  },
  methods: {
    ...mapActions('feed', {
      editPost: 'editPost',
      deletePost: 'deletePost',
      deleteComment: 'deleteComment',
    }),
    deletePostHandler() {
      this.deletePost(this.post.id);
    },
    editPostHandler() {
      const payload = {
        ...this.post,
        text: this.editedPostText
      };
      this.editPost(payload);
      this.toggleEditPost(false);
    },
    toggleEditPost(editOn) {
      this.isEditPostOn = editOn;
      if (editOn) this.editedPostText = this.post.text;
      else this.editedPostText = '';
    },
    getFirstLetter(word) {
      return word.substr(0, 1).toUpperCase();
    }
  }
}
</script>

<style scoped>
textarea {
  resize: none;
}
</style>`