<template>
  <div class="container mx-auto flex items-start border-double md:border-x-8 border-sky-500 h-screen-without-header overflow-hidden">
    <aside class="w-3/12 px-4 space-y-4 border-double md:border-r-8 border-sky-500 h-screen-without-header pt-10">
      <div class="rounded-full h-32 w-32 mx-auto border border-sky-200 bg-sky-100 text-sky-300 flex items-center justify-center text-6xl">{{ getFirstLetter(user?.username) }}</div>
      <div v-if="!hideFollowButton">
        <button
          v-if="!followersList.includes(userData.id)"
          @click="followUserHandler(userData.id)"
          class="w-full border border-sky-500 text-sky-500 rounded p-2 cursor-pointer bg-white hover:bg-sky-500 hover:text-white transition duration-200 ease-in"
        >
          Follow
        </button>
        <button
          v-if="followersList.includes(userData.id)"
          @click="unfollowUserHandler(userData.id)"
          class="w-full border border-sky-500 text-sky-500 rounded p-2 cursor-pointer bg-white hover:bg-sky-500 hover:text-white transition duration-200 ease-in"
        >
          Unfollow
        </button>
      </div>
      <div class="w-full bg-sky-100 p-2 rounded-lg">
        <p class="font-semibold">Username</p>
        <p>{{ userData?.username }}</p>
      </div>
      <div class="w-full bg-sky-100 p-2 rounded-lg">
        <p class="font-semibold">Email</p>
        <p>dummy@test.com</p>
      </div>
      <div class="w-full bg-sky-100 p-2 rounded-lg">
        <p class="font-semibold">Date of birth</p>
        <p>01.01.1970.</p>
      </div>
    </aside>
    <main v-if="posts.length > 0" class="w-9/12 space-y-12 pb-20 px-8 h-screen-without-header overflow-y-scroll pt-10">
      <h2 class="font-semibold text-xl">Timeline</h2>
      <Post v-for="post in posts" :post="post" :key="post.id" />
    </main>
    <section v-else class="mx-auto mt-56">There is no posts yet.</section>
  </div>
</template>

<script>
import Post from '@/components/Feed/Post';
import {mapActions, mapGetters} from "vuex";

export default {
  name: 'ProfileView',
  props: ['posts', 'userData'],
  components: { Post },
  computed: {
    ...mapGetters('user', {
      followersList: 'getFollowersList',
    }),
    ...mapGetters('auth', {
      user: 'getUser'
    }),
    hideFollowButton() {
      return +this.$route.params?.id === +this.user?.id || this.$route.name === 'myProfile';
    }
  },
  methods: {
    ...mapActions('user', {
      followUser: 'followUser',
      unfollowUser: 'unfollowUser',
    }),
    followUserHandler(followerId) {
      const payload = {
        id: this.user.id,
        followerId: followerId
      }
      this.followUser(payload);
    },
    unfollowUserHandler(followerId) {
      const payload = {
        id: this.user.id,
        followerId: followerId
      }
      this.unfollowUser(payload);
    },
    getFirstLetter(word) {
      return word.substr(0, 1).toUpperCase();
    }
  },
}
</script>

<style scoped>

</style>