<template>
  <div class="w-full h-32 bg-sky-500 sticky top-0">
    <div class="w-11/12 mx-auto h-full flex justify-between items-center text-white">
      <h1 class="font-bold text-2xl">SOCIAL NETWORK</h1>
      <div>
        <ul class="flex justify-between items-center space-x-8 font-semibold">
          <li
            :class="linkStyle"
            @click="$router.push('/')"
          >
            Feed
          </li>
          <li
            v-if="user"
            :class="linkStyle"
            @click="$router.push('/my-profile')"
          >
            Profile
          </li>
          <li
            v-if="user"
            :class="linkStyle"
            @click="$router.push('/discover')"
          >
            Discover
          </li>
          <li
            v-if="user"
            :class="linkStyle"
            @click="logout"
          >
            Log Out
          </li>
          <li
            v-if="!user"
            :class="linkStyle"
            @click="$router.push('/login')"
          >
            Log In
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex';

export default {
  name: "HeaderComponent",
  computed: {
    ...mapGetters('auth', {
      user: 'getUser'
    }),
    linkStyle() {
      return 'border rounded p-2 cursor-pointer hover:bg-white hover:text-sky-500 transition duration-200 ease-in';
    }
  },
  methods: {
    ...mapActions('auth', {
      logout: 'logout'
    })
  }

}
</script>

<style scoped>

</style>