<template>
  <div class="container mx-auto border-double md:border-x-8 border-sky-500 py-10 px-20 h-screen-without-header">
    <h2 class="font-semibold text-xl">Discover</h2>
    <section class="mt-10">
      <input class="w-full border rounded p-2 bg-sky-200" type="text" v-model="searchString" placeholder="Search users">
    </section>
    <section class="mt-10">
      <ul>
        <li
          v-for="user in filteredUsers"
          :key="user.id"
          class="border-b border-sky-500 flex items-center justify-between cursor-pointer hover:bg-sky-100 space-x-5 pr-4"
        >
          <div @click="$router.push(`/profile/${user.id}`)" class="flex items-center justify-start space-x-5 w-full h-full p-5">
            <div class="rounded-full h-12 w-12 border border-sky-200 bg-sky-100 text-sky-300 flex items-center justify-center text-xl">{{ getFirstLetter(user.username) }}</div>
            <p>{{ user.username }}</p>
          </div>
          <button
            v-if="!followersList.includes(user.id)"
            @click="followUserHandler(user.id)"
            class="w-32 border border-sky-500 text-sky-500 rounded p-2 cursor-pointer bg-white hover:bg-sky-500 hover:text-white transition duration-200 ease-in"
          >
            Follow
          </button>
          <button
            v-if="followersList.includes(user.id)"
            @click="unfollowUserHandler(user.id)"
            class="w-32 border border-sky-500 text-sky-500 rounded p-2 cursor-pointer bg-white hover:bg-sky-500 hover:text-white transition duration-200 ease-in"
          >
            Unfollow
          </button>
        </li>
      </ul>
    </section>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'DiscoverView',
  data() {
    return {
      searchString: '',
    }
  },
  created() {
    this.fetchUsers();
  },
  computed: {
    ...mapGetters('auth', {
      user: 'getUser'
    }),
    ...mapGetters('user', {
      users: 'getUsers',
      followersList: 'getFollowersList',
    }),
    filteredUsers() {
      return this.users.filter((user) => user.username.includes(this.searchString) && user.id !== this.user.id);
    }
  },
  methods: {
    ...mapActions('user', {
      fetchUsers: 'fetchUsers',
      followUser: 'followUser',
      unfollowUser: 'unfollowUser',
    }),
    getFirstLetter(word) {
      return word.substr(0, 1).toUpperCase();
    },
    followUserHandler(followerId) {
      const payload = {
        id: this.user.id,
        followerId: followerId
      }
      this.followUser(payload);
    },
    unfollowUserHandler(followerId) {
      const payload = {
        id: this.user.id,
        followerId: followerId
      }
      this.unfollowUser(payload);
    }
  },
}
</script>

<style scoped>

</style>