<template>
  <div class="container mx-auto border-double md:border-x-8 border-sky-500 py-10 px-20 space-y-20 h-screen-without-header overflow-y-scroll">
    <section v-if="user">
      <CreatePost />
    </section>
    <section class="space-y-8">
      <h2 class="font-semibold text-xl">Feed</h2>
      <div v-if="user" class="w-64 flex items-center justify-center border border-sky-500 rounded">
        <div
          @click="selected = FeedType.ALL"
          class="w-28 border-r border-sky-500 text-center cursor-pointer"
          :class="selected === FeedType.ALL ? 'bg-sky-500 text-white' : 'text-sky-500'"
        >
          All
        </div>
        <div
          @click="selected = FeedType.JUST_FOLLOWERS"
          class="w-40 text-center cursor-pointer"
          :class="selected === FeedType.JUST_FOLLOWERS ? 'bg-sky-500 text-white' : 'text-sky-500'"
        >
          Just followers
        </div>
      </div>
    </section>
    <section v-if="sortedPosts.length > 0" class="space-y-12 pb-20">
      <Post v-for="post in sortedPosts" :post="post" :key="post.id" />
    </section>
    <section v-else class="flex items-center justify-center h-64">There is no posts yet.</section>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import { sortPerNewest, FeedType } from '@/utility/helpers';
import CreatePost from '@/components/Feed/CreatePost';
import Post from '@/components/Feed/Post';

export default {
  name: 'FeedView',
  data() {
    return {
      selected: 'all',
      FeedType: FeedType
    }
  },
  components: { CreatePost, Post },
  computed: {
    ...mapGetters('auth', {
      user: 'getUser'
    }),
    ...mapGetters('feed', {
      posts: 'getPosts',
    }),
     ...mapGetters('user', {
      followersList: 'getFollowersList',
    }),
    sortedPosts() {
      if (this.selected === this.FeedType.ALL) return sortPerNewest(this.posts);
      const justFollowersPosts = this.posts.filter((post) => this.followersList.includes(post.userId));
      return sortPerNewest(justFollowersPosts);
    }
  },
  created() {
    this.fetchPosts();
    this.fetchComments();
  },
  methods: {
    ...mapActions('feed', {
      fetchPosts: 'fetchPosts',
      fetchComments: 'fetchComments',
    })
  }
}
</script>

<style scoped>

</style>