<template>
  <Profile :posts="myPosts" :user-data="user" />
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import { sortPerNewest } from '@/utility/helpers';
import Profile from "@/components/Profile/Profile";

export default {
  name: 'MyProfile',
  components: { Profile },
  computed: {
    ...mapGetters('auth', {
      user: 'getUser'
    }),
    ...mapGetters('feed', {
      posts: 'getPosts',
    }),
    myPosts() {
      return sortPerNewest(this.posts.filter((post) => post.userId === this.user.id));
    }
  },
  created() {
    this.fetchPosts();
  },
  methods: {
    ...mapActions('feed', {
      fetchPosts: 'fetchPosts',
    }),
  }
}
</script>

<style scoped>

</style>