<template>
  <Profile v-if="userForShow" :posts="userPosts" :user-data="userForShow" />
</template>

<script>
import Profile from "@/components/Profile/Profile";
import { sortPerNewest } from '@/utility/helpers';
import {mapActions, mapGetters} from "vuex";

export default {
  name: "ProfileView",
  components: { Profile },
  computed: {
    ...mapGetters('feed', {
      posts: 'getPosts',
    }),
    ...mapGetters('user', {
      userForShow: 'getUser',
    }),
    userPosts() {
      return sortPerNewest(this.posts.filter((post) => post?.userId === this.userForShow?.id));
    }
  },
  mounted() {
    this.fetchUser(this.$route.params.id);
    this.fetchPosts();
  },
  methods: {
    ...mapActions('feed', {
      fetchPosts: 'fetchPosts',
    }),
    ...mapActions('user', {
      fetchUser: 'fetchUser',
    }),
  }
}
</script>

<style scoped>

</style>