<template>
  <div class="h-screen bg-black bg-opacity-50 flex justify-center items-center">
    <section class="h-96 w-96 bg-white rounded-lg">
      <div class="h-1/4 rounded-t-lg flex justify-center items-center text-white text-xl font-bold bg-sky-500">
        SOCIAL NETWORK
      </div>
      <div class="h-3/4 flex items-center justify-center">
        <div class="w-4/6 block space-y-3">
          <div class="w-full">
            <input class="w-full border rounded p-2 bg-sky-200" type="text" v-model="username" placeholder="Enter username">
          </div>
          <div>
            <input class="w-full border rounded p-2 bg-sky-200" type="password" v-model="password" placeholder="Enter password">
          </div>
          <custom-button text="REGISTER" @click="registerUser"/>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import { generateFakeId } from "@/utility/helpers";

export default {
  name: 'RegisterView',
  data() {
    return {
      username: '',
      password: '',
    }
  },
  methods: {
    ...mapActions('auth', {
      register: 'register',
    }),
    registerUser() {
      const fakeId = generateFakeId();
      this.register({
        id: fakeId,
        username: this.username.trim(),
        password: this.password.trim()
      });
    },
  }
}
</script>

<style scoped>

</style>