<template>
  <div id="app">
    <Header  />
    <router-view/>
  </div>
</template>

<script>
import Header from '@/components/Shared/Header';
import { mapActions, mapGetters } from 'vuex';

export default {
  components: { Header },
  data() {
    return {

    }
  },
  computed: {
    ...mapGetters('auth', {
      user: 'getUser'
    })
  },
  created() {
    this.fetchFollowersList(this.user.id);
  },
  methods: {
    ...mapActions('user', {
      fetchFollowersList: 'fetchFollowersList'
    })
  }
}
</script>
