<template>
  <button
    @click="$emit('click')"
    @keypress="$emit('keypress')"
    class="w-full rounded-lg"
    :class="`${buttonClass} ${buttonSize} ${fontSize}`"
  >
    {{ text }}
  </button>
</template>

<script>
export default {
  name: 'CustomButton',
  props: ['color', 'text', 'textSize'],
  computed: {
    buttonClass() {
      switch(this.color) {
        case 'red':
          return 'bg-red-500 text-white font-bold hover:bg-red-600';
        case 'blue':
          return 'bg-blue-500 text-white font-bold hover:bg-blue-600';
        case 'light-blue':
          return 'bg-blue-200 text-white font-bold hover:bg-blue-400';
        case 'green':
          return 'bg-green-500 text-white font-bold hover:bg-green-600';
        default:
        return 'bg-sky-500 text-white font-bold hover:bg-sky-600';
      }
    },
    buttonSize() {
      switch(this.size) {
        case 'big':
          return 'h-14';
        case 'regular':
          return 'h-10';
        case 'small':
          return 'h-7';
        case 'extra-small':
          return 'h-5';
        default:
        return 'py-2';
      }
    },
    fontSize() {
       switch(this.textSize) {
        case 'big':
          return 'text-xl';
        case 'regular':
          return 'text-lg';
        case 'small':
          return 'text-sm';
        case 'extra-small':
          return 'text-xs';
        default:
        return 'text-base';
      }
    }

  }
}
</script>

<style scoped>

</style>